@import '../../common/function';

.header-private {
  position: fixed;
  top: 0;
  width: 100%;
  height: to-rem(60);
  padding: calc-rem(0, 24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0, rgb(255 255 255 / 80%) -6px -2px 16px 0;

  &__logo {
    max-width: 60px;
  }
}
