@import 'common/function';

.app-loading {
  $app-selector: &;

  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 0.8s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: #111;
    transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
    transition-delay: 0.3s;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__loading {
    letter-spacing: 10px;
  }

  &__title {
    color: theme('colors.white');
  }

  &__overplay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: calc-rem(10);
    justify-content: center;
    align-items: center;
  }

  &__loader {
    width: calc-rem(60);
    height: calc-rem(60);
    border: 3px solid theme('colors.white');
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    position: relative;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
      width: 50%;
      height: 50%;
      border: 3px solid transparent;
      border-top: 3px solid white;
      border-radius: 50%;
      animation: spin-inner 1s linear infinite;
    }
  }
}

.app-loaded {
  z-index: -99;

  &::before {
    left: -50%;
  }

  &::after {
    right: -50%;
  }

  #{$app-selector}__overplay {
    opacity: 0;
    transition: 0.2s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-inner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-720deg);
  }
}
