@import 'common/function';

.button {
  height: unset;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  font-weight: bold;
  border: none;

  &__render {
    position: relative;

    // z-index: 2;
  }

  &__type {
    &__primary {
      background: theme('colors.primary');
      color: theme('colors.white');
    }

    &__danger {
      background: theme('colors.error');
      color: theme('colors.white');
    }

    &__outlined {
      font-weight: normal;
      background: transparent;
      color: theme('colors.white');
      border: 1px solid theme('colors.gray-1');
      transition: all 0.4s;
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 0;
        bottom: 0;
        transition: all 0.4s;
      }

      &:hover {
        border-color: theme('colors.white') !important;
        color: theme('colors.primary') !important;

        &::before {
          width: 100%;
          border: 1px solid theme('colors.white');
          background-color: theme('colors.white');
        }
      }
    }

    &__line-prefix {
      font-weight: bold;
      background: transparent;
      color: theme('colors.white');
      border: 1px solid theme('colors.gray-1');
      transition: all 0.5s;
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        width: calc-rem(6);
        background-color: theme('colors.green-1');
        border-left: 1px solid white;
        transition: all 0.4s;
      }

      &:hover,
      &:active,
      &:focus {
        color: theme('colors.primary') !important;
        border: 1px solid theme('colors.white') !important;

        &::before {
          width: 100%;
        }
      }
    }

    &__text {
      background-color: transparent;
      color: initial;
      box-shadow: none;
      padding: 0;
    }

    &__none {
      background-color: transparent;
      border: none;
      padding: unset;
    }
  }

  &__size {
    &__xs {
      font-size: calc-rem(8);
      height: calc-rem(20);
    }

    &__sm {
      font-size: calc-rem(10);
      height: calc-rem(30);
    }

    &__md {
      font-size: calc-rem(16);
      height: calc-rem(48);
    }

    &__lg {
      font-size: calc-rem(22);
      height: calc-rem(56);
    }
  }
}
