@import '../../common/function';

.app-layout-guest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc-rem(30, 0);

  @screen md {
    padding: calc-rem(20, 0);
  }

  @screen sm {
    padding: calc-rem(16, 0);
  }

  &__social {
    display: flex;
    gap: calc-rem(8);

    @screen md {
      display: none;
    }

    &__item {
      border: 1px solid rgb(255 255 255 / 20%);
      border-radius: 50%;
      width: calc-rem(40);
      height: calc-rem(40);
      display: grid;
      place-content: center center;
      transition: all 0.6s;

      &:hover {
        background-color: theme('colors.white');

        & > svg {
          color: theme('colors.primary');
        }
      }
    }
  }

  &__email {
    text-transform: uppercase;

    @screen md {
      display: none;
    }
  }
}
